spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/booking
    username: booking
    password: booking
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  redis:
    host: localhost
    port: 6379

logging:
  level:
    org.hibernate.SQL: DEBUG

booking:
  payment:
    markup: 0.15
